<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSLOn8PARn9HuZOnIxN@hoP+VmmDGMNSt9UJOZ" 
        crossorigin="anonymous" 
        />
        
    <script
         src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
         integrity="sha384-DfXz2htPHOlsSSs5nCTpuj/zy4C+0GpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
         crossorigin="anonymous"
    ></script>
    <script 
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H661ZH81PoYlFhbGU+6BZp6G7niu735Sk7IN" 
        crossorigin="anonymous"
    ></script> 
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC73h4AgTPSdUtoBvf08shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
    crossorigin= "anonymous"
    ></script>
    <title>Document</title>
</head>
    <body>
        <style>
            .btn-container{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h1{
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
        <h1>Click here to login</h1>
        <div class="btn-container">
            <button class="btn-lg btn-outline-primary">
                <a href={{url}} style="color: white">login</a>
            </button>
        </div>
    </body>
</html>