<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir y Analizar Imagen</title>
</head>
<body>
    <h1>Subir y Analizar Imagen</h1>

    <form action="{{url_for('analyze')}}" method="post" enctype="multipart/form-data">
        <label for="imagen">Selecciona una imagen:</label>
        <input type="file" id="image" name="image" accept="image/*">
        <button>enviar</button>
    </form>
</body>
</html>